<!DOCTYPE html>
<html class="light" lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Stitch Finanzas - Iniciar Sesión</title>

    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Nunito:wght@700;800&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

    <link href="..\static\css\styles.css" rel="stylesheet" />
</head>

<body class="login-wrapper">

    <div class="login-container">
        <div class="login-header">
            <img alt="Stitch waving hello" class="login-logo" src="https://lh3.googleusercontent.com/aida-public/AB6AXuDQlBU9Y4QOxSOaA6boG4Fosxt7c4gkeg6FLq96pDS_YThwBL67mNPbRLuEtYYMV4yiQGmKLh6BqiRYE4Pv1XtUOt7N8uhmvTrJjSZCcUyOY1jid5j67AwKtiNWwo3g7gakTELXmgPz7VghrL_aVWOpkCcno0SkL5qyQPm_eqZCRZEOBPp7MF5JeA_ioHblHWNlFiF332FeqXqkdG9RvbUoGarN4vDqq1zbZyXOiL1cDg_XzOUbrVyZA8sgdBj1z0yTtYLS-4C_rTQ" />
            <h1>¡Aloha! Qué bueno verte</h1>
            <p>¡Vamos a poner en orden esas monedas!</p>
        </div>

        <div class="card">
            
            <form method="post" th:action="@{/login}" class="login-form">
                
                <div th:if="${param.error}" class="login-error">
                    <span class="material-symbols-outlined">warning</span>
                    <span>Usuario o contraseña incorrectos.</span>
                </div>

                <div class="form-group">
                    <label for="username">Email</label>
                    <div class="input-with-icon">
                        <span class="material-symbols-outlined">mail</span>
                        <input type="email" id="username" name="username" class="form-input" placeholder="tu.email@ejemplo.com" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <div class="input-with-icon">
                        <span class="material-symbols-outlined">lock</span>
                        <input type="password" id="password" name="password" class="form-input" placeholder="••••••••" required>
                    </div>
                    <div class="forgot-password">
                        <a href="#">¿Olvidaste tu contraseña?</a>
                    </div>
                </div>

                <button class="button-primary" type="submit">
                    Iniciar Sesión
                </button>
            </form>
        </div>

        <div class="login-footer">
            <p>¿No tienes una cuenta? <a href="#">Regístrate</a></p>
        </div>
    </div>

</body>
</html>