<!DOCTYPE html>
<html class="light" lang="es">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Stitch Finanzas Personales</title>

    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Nunito:wght@700;800&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

    <link href="..\static\css\styles.css" rel="stylesheet" />
</head>
<body>

    <div class="page-wrapper">
        <header class="site-header">
            <div class="container header-container">
                <div class="logo">
                    <img alt="Stitch waving hello" class="logo-img" src="https://lh3.googleusercontent.com/aida-public/AB6AXuDQlBU9Y4QOxSOaA6boG4Fosxt7c4gkeg6FLq96pDS_YThwBL67mNPbRLuEtYYMV4yiQGmKLh6BqiRYE4Pv1XtUOt7N8uhmvTrJjSZCcUyOY1jid5j67AwKtiNWwo3g7gakTELXmgPz7VghrL_aVWOpkCcno0SkL5qyQPm_eqZCRZEOBPp7MF5JeA_ioHblHWNlFiF332FeqXqkdG9RvbUoGarN4vDqq1zbZyXOiL1cDg_XzOUbrVyZA8sgdBj1z0yTtYLS-4C_rTQ" />
                    <h2 class="logo-text">Stitch Finanzas</h2>
                </div>

                <div class="nav-wrapper">
                    <nav class="navbar-desktop">
                        <a class="nav-link" href="panel.html">
                            <p>Panel de Control</p>
                        </a>
                        <a class="nav-link" href="#">
                            <p>Transacciones</p>
                        </a>
                        <a class="nav-link" href="#">
                            <p>Cuentas</p>
                        </a>
                        <a class="nav-link" href="#">
                            <p>Reportes</p>
                        </a>
                        <a class="nav-link" href="#">
                            <p>Configuración</p>
                        </a>
                    </nav>
                </div>

                <div class="profile-button-wrapper">
                    <button class="profile-button">
                        <span class="material-symbols-outlined">person</span>
                    </button>
                    
                    <div class="profile-dropdown">
                        <ul>
                            <li>
                                <a href="#" class="dropdown-link">
                                    <span class="material-symbols-outlined">account_circle</span>
                                    Mi Perfil
                                </a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-link">
                                    <span class="material-symbols-outlined">settings</span>
                                    Configuración
                                </a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-link logout-link">
                                    <span class="material-symbols-outlined">logout</span>
                                    Cerrar Sesión
                                </a>
                            </li>
                        </ul>
                    </div>
                    </div>
            </div>
        </header>

        <main class="container main-content">

            </main>

        <footer class="site-footer">
            <div class="container footer-container">
                <div class="footer-links">
                    <a href="#">Contacto</a>
                    <a href="#">Términos y Condiciones</a>
                    <a href="#">Política de Privacidad</a>
                </div>
                <div class="footer-copyright">
                    <span>© 2024 Stitch Finanzas Personales</span>
                    <img alt="A small icon of a sleeping Stitch" class="footer-img" src="https://lh3.googleusercontent.com/aida-public/AB6AXuCtVrbE8UqgdYAXh8WopobpVM-L3G1stwHbdAx6dWzfdsoWuyDrcuXLpcm-Gp7lSbwyAxYbjYtduNCifWXDP5ZeDSvprMZlu-KZuQD-aZ6jHHhv0ubCB_nt3WvwjTqIvtGv1gv45jujSqOBEpZN264VzBzjt1pT3LEjgkyHhOJ2SPuTE7LzYbdVOjItGeQK7PJutdCqbLOTrr7Dw-KH6ezPNsZ4U5-YjNyMwWvzMl4X_vm04HWyDjnwWY0PrbQpfs8sCDhRGsyPv7E" />
                </div>
            </div>
        </footer>
    </div>
</body>
</html>